# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
Lab1-Divide/pro1
Lab1-Divide/pro2
Lab2-Sort/quicksort
Lab2-Sort/countsort
Lab3-Tree/RBTree
Lab3-Tree/validBST
Lab4-Greedy/greddy
Lab5-Knapsack/knapsack
